<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fraud Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Credit Card Fraud Prediction</h1>
    <form action="/predict" method="POST">
        <label for="cc_num">Credit Card Number:</label>
        <input type="text" name="cc_num" required><br>

        <label for="category">Transaction Category:</label>
        <input type="number" name="category" required><br>

        <label for="amt">Transaction Amount:</label>
        <input type="number" step="amt" name="amt" required><br>

        <label for="gender">Gender (0 = Male, 1 = Female):</label>
        <input type="number" name="gender" required><br>

        <label for="trans_num">Transaction Number </label>
        <input type="number" name="trans_num" required><br>

        <label for="age"> Age </label>
        <input type="number" name="age" required><br>

        <button type="submit">Predict</button>
    </form>

    {% if result %}
        <h2>Prediction:  {{ result }}</h2>
    {% endif %}
</body>
</html>
